@import "tailwindcss";

@theme {
  --color-primary: #FDF2F8;
  --color-secondary: #F43F5E;
  --color-background: #FDF2F8;
  --color-foreground: #171717;
  --font-sans: var(--font-quicksand), var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
